/* style.css */
body {
  margin: 0;
  padding: 0;
  font-family: "Canva Sans", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.page {
  height: 100vh;
  width: 100vw;
  position: relative;
  scroll-snap-align: start;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Page 1 */
.navbar {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffcc00;
}

.page1 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("./images/page 1/2.png") no-repeat center center;
  background-size: cover;
}

.footer.footerPage1 {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  object-fit: fill;
  background-color: transparent;
}

.moon.moonPage1 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  background-color: transparent;
  z-index: 10;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.text.pageText1 {
  position: absolute;
  color: white;
  left: 30%;
  top: 25%;
  z-index: 20;
  font-size: 100px;
  font-weight: 700;
  background-color: transparent;
}

.extra.pageText2 {
  width: 100px;
  position: absolute;
  color: white;
  background-color: transparent;
  right: 30%;
  bottom: 30%;
  z-index: 20;
  font-size: 70px;
}

.Myfooter {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  z-index: 100;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ffcc00;
}

.contact-text {
  font-size: 16px;
}

/* Page 1 End */

/* Page 2 Start */
.page2 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("./images/page 2/5.png") no-repeat center center;
  background-size: cover;
}

.moon.moonPage2 {
  position: absolute;
  width: 80%;
  height: 100%;
  object-fit: fill;
  background-color: transparent;
  z-index: 10;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.extra.pageText21 {
  position: absolute;
  top: 20%;
  left: 10%;
}

.extra.pageText22 {
  position: absolute;
  top: 20%;
  right: 10%;
}
/* Page 2 End*/

/* Page 3 Start */
.page3 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("./images/page 3/6.png") no-repeat center center;
  background-size: cover;
}

.moon.moonPage3 {
  position: absolute;
  width: 60%;
  height: 60%;
  object-fit: contain;
  background-color: transparent;
  z-index: 10;
  top: -20%;
  left: 0%;
  transform: translateX(-50%);
}

.extra.pageText31 {
  position: absolute;
  top: 20%;
  left: 10%;
}
/* Page 3 End*/

/* Page 4 Start */
.page4 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("./images/page 6/23.png") no-repeat center center;
  background-size: cover;
  background-color: #000;
}

.moon.moonPage4 {
  position: absolute;
  width: 16%;
  height: 30%;
  background-color: transparent;
  z-index: 10;
  opacity: 1;
  top: 15%;
  left: 78%;
  transform: translateX(-50%);
}

.extra.extraPage43 {
  width: 1200px;
  position: absolute;
  color: white;
  background-color: transparent;
  top: 3%;
  left: 43%;
  z-index: 20;
  font-size: 70px;
  opacity: 0.7;
}

.footer.footerPage4 {
  position: absolute;
  width: 100%;
  height: 300px;
  bottom: 0;
  object-fit: fill;
  background-color: black;
}

.extra.extraPage41 {
  width: 200px;
  position: absolute;
  color: white;
  background-color: transparent;
  right: 4%;
  bottom: -3%;
  z-index: 20;
}

.extra.extraPage42 {
  width: 400px;
  position: absolute;
  color: white;
  background-color: transparent;
  left: -2%;
  bottom: -3%;
  z-index: 20;
  font-size: 70px;
}

.extra.pageText41 {
  position: absolute;
  top: 20%;
  left: 10%;
}

/* Page 4 End*/

/* Page 5 Start */
.page5 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #4a8888;
}

.moon.moonPage5 {
  position: absolute;
  width: 80%;
  height: 85%;
  object-fit: fill;
  background-color: transparent;
  z-index: 2;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.extra.extraPage51 {
  width: 50%;
  height: 80%;
  position: absolute;
  color: white;
  background-color: transparent;
  left: -13%;
  top: -3%;
  z-index: 5;
  opacity: 0.9;
}

.extra.extraPage52 {
  width: 25%;
  height: 45%;
  position: absolute;
  color: white;
  left: -10%;
  top: 10%;
  z-index: 20;
}

.extra.extraPage53 {
  width: 30%;
  height: 20%;
  position: absolute;
  color: white;
  left: 20%;
  bottom: 5%;
  z-index: 20;
}
.extra.extraPage54 {
  width: 20%;
  height: 10%;
  position: absolute;
  color: white;
  right: 20%;
  bottom: 10%;
  z-index: 20;
}
.extra.extraPage55 {
  width: 60%;
  height: 45%;
  position: absolute;
  color: white;
  left: -15%;
  bottom: -3%;
  z-index: 5;
}
.extra.extraPage56 {
  width: 60%;
  height: 40%;
  position: absolute;
  color: white;
  right: 30%;
  bottom: -3%;
  z-index: 5;
}
.extra.extraPage57 {
  width: 60%;
  height: 50%;
  position: absolute;
  color: white;
  right: -10%;
  bottom: -3%;
  z-index: 5;
}

.extra.extraPage58 {
  width: 60%;
  height: 50%;
  position: absolute;
  color: white;
  right: 18%;
  bottom: 20%;
  z-index: 1;
}

.extra.pageText51 {
  position: absolute;
  bottom: 40%;
  left: 25%;
}

.extra.pageText52 {
  position: absolute;
  top: 20%;
  right: 10%;
}

/* Page 5 End*/

/* Page 6 Start */
.page6 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("./images/page 6/23.png") no-repeat center center;
  background-size: cover;
  background-color: #112a52;
}

.extra.extraPage61 {
  width: 60%;
  height: 60%;
  position: absolute;
  color: white;
  top: -7%;
  left: -7%;
  z-index: 5;
}
.extra.extraPage62 {
  width: 40%;
  height: 40%;
  position: absolute;
  color: white;
  top: -10%;
  left: -10%;
  z-index: 4;
}

.extra.extraPage63 {
  width: 100%;
  height: 80%;
  position: absolute;
  color: white;
  right: 0%;
  bottom: 0%;
  z-index: 1;
}

.extra.pageText61 {
  position: absolute;
  top: 35%;
  left: 5%;
  z-index: 20;
}

.extra.pageText62 {
  position: absolute;
  top: 20%;
  right: 10%;
}
/* Page 6 End*/

/* Page 7 Start */
.page7 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("./images/page 6/23.png") no-repeat center center;
  background-size: cover;
  background-color: #000;
}

.moon.moonPage7 {
  position: absolute;
  width: 20%;
  height: 30%;
  object-fit: fill;
  background-color: transparent;
  z-index: 10;
  top: 20%;
  left: 60%;
  transform: translateX(-50%);
}

.extra.extraPage71 {
  width: 30%;
  height: 45%;
  position: absolute;
  color: white;
  right: 20%;
  bottom: 48%;
  opacity: 0.4;
  z-index: 1;
}

.extra.extraPage72 {
  width: 20%;
  height: 20%;
  position: absolute;
  color: white;
  top: 10%;
  left: 35%;
  z-index: 1;
}

.extra.extraPage73 {
  width: 25%;
  height: 30%;
  position: absolute;
  color: white;
  left: 10%;
  bottom: 18%;
  z-index: 1;
}

.extra.extraPage74 {
  width: 20%;
  height: 25%;
  position: absolute;
  color: white;
  right: 30%;
  bottom: 10%;
  z-index: 1;
}

.footer.footerPage7 {
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0;
  object-fit: fill;
  background-color: transparent;
}
/* Page 7 End*/

/* Page 8 Start */
.page8 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

.moon.moonPage8 {
  position: absolute;
  width: 15%;
  height: 15%;
  object-fit: fill;
  background-color: transparent;
  z-index: 10;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.extra.extraPage81 {
  width: 10%;
  height: 30%;
  position: absolute;
  color: white;
  left: 45%;
  top: 0%;
  opacity: 1;
  z-index: 5;
}

.extra.extraPage82 {
  width: 100%;
  height: 60%;
  position: absolute;
  color: white;
  top: -5%;
  left: -30%;
  z-index: 1;
}

.extra.extraPage83 {
  width: 100%;
  height: 60%;
  position: absolute;
  color: white;
  right: -10%;
  top: -5%;
  z-index: 1;
}

.extra.extraPage84 {
  width: 20%;
  height: 25%;
  position: absolute;
  color: white;
  right: 3%;
  top: 5%;
  z-index: 0;
}

.extra.extraPage85 {
  width: 10%;
  height: 15%;
  position: absolute;
  color: white;
  right: 10%;
  top: 20%;
  z-index: 1;
}

.footer.footerPage8 {
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0;
  object-fit: fill;
  background-color: transparent;
}
/* Page 8 End*/

/* Page 9 Start */
.page9 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("./images/page 6/23.png") no-repeat center center;
  background-size: cover;
  background-color: #0f0942;
}

.extra.extraPage91 {
  width: 50%;
  height: 60%;
  position: absolute;
  color: white;
  left: -23%;
  top: 23%;
  opacity: 1;
  z-index: 5;
}

.extra.extraPage92 {
  width: 20%;
  height: 20%;
  position: absolute;
  color: white;
  top: 10%;
  right: 30%;
  z-index: 1;
}

.extra.extraPage93 {
  width: 20%;
  height: 20%;
  position: absolute;
  color: white;
  left: 30%;
  bottom: 10%;
  z-index: 1;
}

/* Page 9 End*/
